* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;

}

body {
  background-color: rgb(236, 236, 236);
    
}

#root {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  border: 1px solid #ccc;
  /* padding: 10px; */
  border-radius: 5px;
  background-color: rgb(236, 236, 236);

}